TELEGRAM_BOT_TOKEN=changeit
# Separated by commas
ALLOWED_USERS_ID=changeit

#### OPTIONAL
# Route is relative from index.js/ts
#TRANSLATION_ROUTE_FOLDER=../locales # dist generated default folder
# Where the config.json5 is. Route is relative from index.js/ts
#CONFIG_ROUTE_FILE=../config.json5 # dist generated default folder