#######################
# REQUIRED
#######################

TELEGRAM_WOL_BOT_TOKEN=changeit
# Separated by commas (no spaces), example: 1234,4321
ALLOWED_TELEGRAM_USERS_ID=changeit

#######################
# OPTIONALS
#######################

# Specified languages the bot is able to use
#PRELOADED_LANGUAGES=es,en

# Routes are relative from index.js/ts
#TRANSLATION_ROUTE_FOLDER=../locales # dist generated default folder
#CONFIG_ROUTE_FILE=../config.json5 # dist generated default folder