TELEGRAM_BOT_TOKEN=changeit
# Separated by commas
ALLOWED_USERS_ID=changeit
# Route is relative from index.js/ts
TRANSLATION_ROUTE=./locales # dist generated default folder
# Where the config.json5 is. Route is relative from index.js/ts
CONFIG_ROUTE=./ # dist generated default folder